
.hero {
  width: 85%;
  height: 21.75rem;
  margin-top: 3rem;
  border-radius: 1.5rem;
  background-image: url('../img/home/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: hsla(0, 0%, 100%, 1);
  padding-bottom: 30px;
  margin-bottom: 30px;
}

h2 .dining-table {
  display: grid;
  padding: 2rem;
  color: hsla(140, 10%, 92%, 1);
  font-family: Helvetica;
  font-size: inherit;
  font-weight: bold;
  text-align: center;
  background-color: hsla(160, 20%, 70%, 1);
}

.products {
  padding: 0 0 6rem 0;
  box-sizing: border-box;

}

.products .product-category {
  padding: 10px;
  background-color: hsla(20, 18%, 97%, 1);
}

.products h2 {
  margin-top: 2rem;
  font-size: 20px;
}

.landing .product-list {
  grid-template-columns: repeat(4, 1fr);
}

.categories h3 {
  margin-bottom: 0;
}

@media only screen and (max-width: 1020px) {
  .landing .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media only screen and (max-width: 760px) {
  .landing .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 565px) {
  .hero {
    padding-left: 0;
    text-align: center;
  }

  .hero h2 {
    padding-top: 7rem;
  }

  .hero p {
    width: 90%;
    margin: auto;
  }
}

@media only screen and (max-width: 470px) {
  .landing .product-list {
    grid-template-columns: 1fr;
  }
}
